<div class="jumbotron">
  <div class="container-fluid">
      <h1 class="display-3">ALIS Product Catalog</h1>
      <hr>
      <p class="lead">Welcome to our Product Catalog page! Please select a product below to view what we offer.</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button 
      class="btn btn-primary btn-block"
      (click)="onAddProduct()">Add New Product</button>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
     
    <app-alis-product-list></app-alis-product-list>

  </div>
</div>

