<div class="row">
  <div class="col-md-12">
      <button 
        class="btn btn-primary btn-block"
        (click)="onAddContract()">Add New Contract</button>
      <hr>
      <div class="list-group">
        <a 
          *ngFor="let contract of contracts; let i = index;"
          (click) = "onViewContract(contract._id)"
          class="list-group-item clearfix"
          >
          <div class="pull-left"> 
              <h4 class="list-group-item-heading">{{contract.name}}</h4>
          </div>
            <div class="pull-right">
              <h5>{{contract.number}}</h5>
            </div>
        </a>
      </div> 
  </div>

  <div class="col-md-8">
    <router-outlet></router-outlet>
  </div>
</div>
