<div class="row">
  <div class="col-xs-12">
    <h3>Select Phase</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-6" style="margin-top:10px">
        <a [routerLink]="'./Assembly'" class="list-group-item clearfix">
          <div class="pull-left">
            <h5>Assembly</h5>
          </div>
        </a>
    </div>
    <div class="col-md-6" style="margin-top:10px">
        <a [routerLink]="'./Configuration'" class="list-group-item clearfix">
          <div class="pull-left">
            <h5>Configuration</h5>
          </div>
        </a>
    </div>
    <div class="col-md-6" style="margin-top:10px">
        <a [routerLink]="'./Deployment'" class="list-group-item clearfix">
          <div class="pull-left">
            <h5>Deployment</h5>
          </div>
        </a>
    </div>
    <div class="col-md-6" style="margin-top:10px">
        <a [routerLink]="'./Shipping'" class="list-group-item clearfix">
          <div class="pull-left">
            <h5>Shipping</h5>
          </div>
        </a>
    </div>
</div>