<div class="container">
    <div class="jumbotron">
        <h1>The A5 Production Component.</h1>
        <blockquote class="blockquote">
            <p class="mb-0">Produce and execute ALIS contracts efficiently and effectively.</p>
            <footer class="blockquote-footer">
                <span style="margin:5px">So simple. . .</span>
                <span style="margin:5px">So intuitive. . .</span>
                <span style="margin:5px">The A5 Production Component.</span>
            </footer>
        </blockquote>
    </div>
</div>