<div class="container">
    <div class="jumbotron">
        <h1>The A5 Enterprise Component.</h1>
        <blockquote class="blockquote">
            <p class="mb-0">View the ALIS enterprise in excruciating detail</p>
            <footer class="blockquote-footer">
                <span style="margin:5px">So simple. . .</span>
                <span style="margin:5px">So intuitive. . .</span>
                <span style="margin:5px">The A5 Enterprise Component.</span>
            </footer>
        </blockquote>
        <!-- <h4 style="margin:20px">View the ALIS enterprise in excruciating detail.
            <br><br>
            
        </h4> -->
        
        
    </div>
</div>


