
  <div class="row">
    <button class="list-group-item clearfix" style="padding:1px;margin-bottom:1px">
      <div class="col-md-2">
          <p style="margin:1px;">{{asset.nodeName}}</p>
      </div>
      <div class="col-md-3">
          <p style="margin:1px;">{{asset.name}}</p>
      </div>
      <div class="col-md-3">
          <p style="margin:1px;">{{asset.partNum}}</p>
      </div>
      <div class="col-md-1">
          <p style="margin:1px;">{{asset.serialNum}}</p>
      </div>
      <div class="col-md-2">
          <p style="margin:1px;">{{asset.IUID}}</p>
      </div>
      <div class="col-md-1">
          <p style="margin:1px;">{{asset.IUIDsn}}</p>
      </div>
    </button>
  </div>
